# Folders
prytanee/OrganInstallationPackages/002300
st-maximin/*
nitra/*

# Includes definitions - To be updated at insert
!StMaximin.organ
!st-maximin
st-maximin/OrganInstallationPackages/*
!st-maximin/OrganInstallationPackages
!st-maximin/OrganInstallationPackages/go-odf

!Nitra.organ
